exportPattern("^[[:alpha:]]+")
#export(scSTAR)

# Import all packages listed as Imports or Depends
import(Seurat,
        pls,
        MASS,
        ggplot2,
        readxl,
        tcltk,
        STutility,
        wrMisc
       )
